<accordion [showArrows]="true">
    <accordion-group heading="Found some mistakes?">
        <div class="panel">
            <label class="text">Send a message to the author!</label>
            <form>
                <div class="grid">
                    <label>Name*</label>
                    <input type="text" name="name" required/>
                    <label>Email*</label>
                    <input type="email" name="email" required />
                    <label>Message*</label>
                    <textarea rows="4" name="message" required></textarea>
                </div>
                <label class="info text">*: required information</label>

                <input class="send-button" type="reset" value="Send" (click)="notImplementedAlert()"/>
            </form>
        </div>
    </accordion-group>
</accordion>