label {
    display: inline-table;
    width: inherit;
    color: var(--textColor);
    font-weight: bold;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
/*  img {
    display: inline-table;
    width: auto;
    height: 2em;
  }*/

  .info {
    margin: auto;
    width: fit-content;
  }

  .backButton{
    margin: 0;
    vertical-align: middle;
    color: var(--textColor);
    display: inline-block;
    background: transparent;
  }

  .backButton img {
    display: inline-block;
    height: 15px;
    vertical-align: middle;
  }

  .share-line {
    float: right;
    display: block;
  }

@media screen and (min-width: 680px) { 
  .header {
    margin: auto;
  }
}

@media screen and (max-width: 679px) {
  .header {
    margin-left: 12px;
  }
}

  .header {
    display: block;
    width: fit-content;
    padding-bottom: 30px;
    padding-top: 18px;
  }

  .header h1 {
    font-size: 1.2em;
    vertical-align: middle;
    display: inline;
  }

  .grid {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: auto;
    width: fit-content;
  }

  .value {
    font-weight: normal;
  }

  .currency, .timeZone {
    color: var(--textColor);
    background-color: #eee;
    border: 1px solid var(--backgroundDark);
    border-radius: 2px;
    font-size: 8pt;
    font-weight: normal;
    padding: 2px;
    margin: 3px 3px 0 0;
    width: auto;
  }

  .map {
      padding-top: 24px;
      display: block;
      width: fit-content;
      margin: auto;
      padding-bottom: 24px;
  }

  .form {
    margin-top: 60px;
    display: block;
  }