label {
    display: inline-table;
    width: inherit;
    margin: .5em 0 0 .5em;
    color: var(--textColor);
    font-weight: bold;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  img {
    display: inline-table;
    width: auto;
    height: 2em;
  }
  .grid {
    display: grid;
  }