
<div class="panel">
    <div class="header">
        <button class="backButton" [routerLink]="['/']"><img src="../assets/icons/back.svg"/></button>
        <h1 class="title">{{title}}</h1>
    </div>
    <!--<button (click)="goBack()"> Back to Overview </button>-->
    <div class="info" *ngIf="country">           
            <title-flag [country]="country"></title-flag>
        <div>
            <div class="grid">
                <label>Continent: </label>
                <label class="value">{{country.continent}}</label>
                <label>Capital: </label>
                <label class="value">{{country.capital}}</label>
                <label>Population: </label>
                <label class="value">{{getFormatedPopulation()}}</label>
                <label>Currencies: </label>
                <div>
                    <label class="currency" *ngFor="let currency of country.currencies">{{currency.name}} ({{currency.symbol}})</label>
                </div>
                <label>Time Zones: </label>
                <div>
                    <label class="timeZone" *ngFor="let zone of country.timeZones">{{zone}}</label>
                </div>
            </div>
        </div>
        <country-map class="map" [countryName]="country.name"></country-map>
    </div>
    <p> </p>
    <share-page class="share-line"></share-page>
    <p> </p>
    <incorrect-data-form class="form"></incorrect-data-form>
</div>